@import '~bulma/sass/utilities/_all';
@import '~bulma/sass/base/helpers';
@import '~bulma/sass/elements/other';
@import '~bulma/sass/grid/columns';
@import '~bulma/sass/grid/tiles';

@import '~@blueprintjs/core/dist/blueprint.css';
@import '~@blueprintjs/core/dist/variables';

body {
  background-color: $dark-gray2;
}

.sidenav {
  background: $dark-gray3;
  height: 100vh;
}

.top-right-bar {
  background: $dark-gray2;
}

.middle-content {
  background: $dark-gray1;
}

.game-content {
  background: black;
}

.behavior-tab {
  background: $dark-gray1;
}

.behavior-content {
  background: $dark-gray2;
}

.entities-menu {
  height: 60vh;
}
